header
  .wrapper
    nav
      a.header__mobile_menu(href="#") &#8734; menu
      .header__wrap_menu
        ul.header__menu
          li
            a(href="#") home
          li
            a(href="#") about me
          li
            a(href="#") portfolio
          li
            a(href="#") contact

    .header__scroll_down
      p scroll down to see more





