section.section_1
  .wrapper
    nav
      .section_1__wrap_menu
        ul.section_1__menu
          li
            a(href="#") home
          li
            a(href="#") about me
          li
            a(href="#") portfolio
          li
            a(href="#") contact

    .section_1__content
      .media_object
        .media_object__img

        .media_object__text
          h1 about me
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

          p.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur.

          p.media_object__author jason wood

        .section_1__scroll_down
          p keep scrolling, there is still more to come.